*{
    margin: 0px;
    padding: 0px;
    font-size: 14pt;
}

body{
    background-color: black;
}
/*Menu*/
nav#menu{
    background-image: url(./Imagens/Inicio.jpg);
    background-attachment: scroll;
    height: 520px;
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-position-y: 50px;
    background-size: cover;
}
nav#menu ul{
    background-color: white;
    width: 100%;
    height: 58px;
    list-style: none;
}
nav#menu ul li{
    display: inline-block;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 8px;
}
nav#menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18pt;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.1s;
}
nav#menu ul li a span{
    padding: 12px;
    border-bottom: 3px solid black;
    transition: 0.1s;
}
nav#menu ul li a span:hover{
    color: red;
    border-bottom: 3px solid red;
    padding: 12px;
}
nav#menu ul li a:hover{
    color: red;
    border-bottom: 3px solid red;
    padding: 11px;
}
/*Conteudo*/
main#conteudo_principal{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-right: auto;
    width: 1000px;
    margin-top: 50px;
    margin-left: auto; 
}
main#conteudo_principal h1 {
    display: grid;
    text-align: center;
    font-size: 20pt;
    border-bottom: 3px solid white;
    padding: 10px;
}
main#conteudo_principal h2 {
  font-size: 18pt;
  text-indent: 60px;
  text-align: left;
  padding: 50px;
  text-decoration: underline;
}
main#conteudo_principal p {
    text-align: justify;
    padding: 10px;
    margin: 20px;
    text-indent: 20px;
}

main#conteudo_principal iframe{
    position: absolute;
    margin-left: 150px;
    border: 1px solid white;
    padding: 3px;
}
main#conteudo_principal p a {
    position: absolute;
    text-decoration: none;
    color: gray;
    right: 600px;
    top: 37cm;
    transition: 0.2s;
}
main#conteudo_principal p a:hover{
    color: white;
    text-decoration:underline;
}

main#conteudo_principal button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    border-radius: 50%;
    width: 70px;
    height: 50px;
    color: white;
    background-color: rgb(31, 30, 30);
    border: none;
    display: none;
}

/*Rodape*/
footer#rodape{
    margin-top: 480px;
    background-color: white;
    background-size: cover;
    height: 66px;
    text-align: center;
    padding: 20px;
}

footer#rodape p#meuEmail{
    margin-top: 13px;
    text-align: center;
}
